* {
    box-sizing:border-box;
}

.row {
    width: 900px;
    height: 500px;
    margin: auto;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.colum {
    height: 400px;
    width: 150px;
    float: left;
    margin: 30px;
    border: 1px solid black;
}