.body {
    width: 38em;
    margin: 0 auto;
}

.fot-pro {
    width: 120px;
    margin-left: 1em;
}

th {
    font-size: 1.7em;
    text-align: left;
}

.cate {
    text-align: right;
    margin-bottom: 4em;
}

.cate span{
    text-decoration: underline;
    font-weight: bold;
}

.arc {
    padding-bottom: 5em;
}
.arc p {
    padding: 2px 15px;  
}

.vid {
    float: left;
    border: 2px solid black;
    margin-left: 1.3em;
    height: 6em;
}

.vid video {
    width: 170px;
}

.img {
    float: left;
    border: 2px solid black;
    padding: 5px;
    margin-left: 1em;
}

.img img{
    padding: 2px 2px;
    width: 70px;
    float: left;
}

.dow {
    float: left;
    margin-left: 1em;
}

.dow fieldset {
    border: 2px solid black;
}

.dow fieldset legend div {
    width: 8em;
    height: 4.5em;
}
