* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    min-height: 50vh;
    flex-direction: column;
    margin: 0;
}

.layout {
    padding: 20px;
    background-color: pink;
    text-align: center;
}

#main {
    display: flex;
}

#main > article, #main > aside {
    height: 60vh;
}

#main > article {
    flex: 1;
    order: 1;
    background-color: rgb(245, 90, 90);
}

#foto {
    display: flex;
    justify-content: space-around;
}

#foto > img {
    width: 50%;
    margin: 0 10px;
    height: 9em;
}

#main > aside {
    flex: 0 0 20vw;
    background-color: rgb(90, 230, 248);
}

h3 {
    margin-top: 2em;
}

h4 {
    margin-top: 10em;
}

header,footer{
    height: 20vh;
    background-color: rgb(191, 253, 253);
}

nav, header, article, aside, footer {
    padding: 1em;
    margin: 0.5em;
}
